<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer src="javascripts/map.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
        integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
        integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="icon" type="image/x-icon" href="/images/shaka.png">
</head>
<title><%= title%></title>
</head>

<body class="p-0">
    <nav class="navbar navbar-expand-lg sticky-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="/"><img id="nav-logo" src="https://i.imgur.com/M94tas0.png" alt=""></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
                <div class="navbar-nav ">
                    <% if (user) { %>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="<%= user.avatar%>" class="review-user" alt="avatar" referrerpolicy="no-referrer">
                            </a>
                            <ul class="dropdown-menu">
                            <li><a <%- title==='Add Surf Spot' ? 'class="nav-link m-2 active dropdown-item"' : 'class="nav-link m-2 dropdown-item"' %>
                            href="/spots/new">Add Spot</a></li>
                            <li><a <%- title==='All Surf Spots' ? 'class="nav-link m-2 active dropdown-item"' : 'class="nav-link m-2 dropdown-item"' %>
                                href="/spots">All Spots</a></li>
                            <li><a <%- title==='My Sessions' ? 'class="nav-link m-2 active dropdown-item"' : 'class="nav-link m-2 dropdown-item"' %>
                            href="/users/<%= user._id%>/sessions">My Sessions</a></li>
                            <li><a <%- title==='My Spots' ? 'class="nav-link m-2 active dropdown-item"' : 'class="nav-link m-2 dropdown-item"' %>
                            href="/users/<%= user._id%>/favorites">Favorites</a></li>
                            <li><a href="/logout" class="nav-link m-2 dropdown-item">Log Out</a></li>
                    </ul>
                    </li>
                        <% } else { %>
                            <a <%- title==='All Surf Spots' ? 'class="nav-link m-2 active"' : 'class="nav-link m-2"' %>
                                href="/spots">All Spots</a>
                            <a class="nav-link m-2" href="/auth/google">Log In&nbsp</a>
                            <% } %>
                </div>
            </div>
        </div>
    </nav>