<%- include('../partials/header') %>

    <h2>
        <%= title %>
    </h2>

    <form action="#" method="GET">
        <div class="row">
            <div class="col-2 mb-3">
                <label for="swellDirection" class="form-label">Swell Direction</label>
                <select name="swellDirection" id="swellDirection" class="form-select">
                    <%validSwellDirections.forEach(function(r){%>
                        <option value="<%=r%>" <%= r === session.swellDirection ? 'selected' : '' %> ><%= r%></option>
                    <%}) %>
                </select>
            </div>
            
                <div class="col-2 mb-3">
                    <label for="size" class="form-label">Swell Size</label>
                    <select id="size" name="size" class="form-select">
                        <%validSizes.forEach(function(r){%>
                            <option value="<%=r%>" <%= r === session.size ? 'selected' : '' %> ><%= r%></option>
                        <%}) %>
                    </select>
                </div>
           

            <div class="col-2 mb-3">
                <label for="windDirection" class="form-label">Wind Direction</label>
                <select name="windDirection" class="form-select" id="windDirection">
                    <%validWindDirections.forEach(function(r){%>
                        <option value="<%=r%>" <%= r === session.windDirection ? 'selected' : '' %> ><%= r%></option>
                    <%}) %>
                </select>
            </div>
            <div class="col-2 mb-3">
                <label for="windStrength" class="form-label">Wind Strength</label>
                <select id="windStrength" name="windStrength" class="form-select">
                    <%validWindStrengths.forEach(function(w){%>
                        <option value="<%=w%>" <%= w === session.windStrength ? 'selected' : '' %> ><%= w%></option>
                    <%}) %>
                </select>
            </div>
            <div class="col-2 mb-3">
                <label for="rating" class="form-label">Rating</label>
                <select id="rating" name="rating" class="form-select">
                    <%validRatings.forEach(function(w){%>
                        <option value="<%=w%>" <%= w === session.rating ? 'selected' : '' %> ><%= w%></option>
                    <%}) %>
                </select>
            </div>
    
        </div>
    <div class="row">

        <%session.img.forEach(function(i) {%>
            <div class="mb-3 col-4">
                <label for="img" class="form-label">Img Url</label>
                <input value="<%= i%>" type="text" class="form-control" name="img" id="img">
            </div>
        <%})%>
    </div>
        
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <%- include('../partials/footer') %>