<%- include('../partials/header') %>

    <div class="container vh-100">
        <h1 class="text-center mb-5">
            <%= title%>
        </h1>
        <% sessions.forEach(function(s) {%>
            <div class="card m-auto p-3" style="width: 40vmin">
                <div class="card-body">
                    <h5 class="card-title">
                        <%=s.date%>
                    </h5>
                    <p class="card-text">
                        Swell: <%=s.size %>
                            <%=s.swellDirection %>
                    </p>
                    <p class="card-text">
                        Wind: <%=s.windDirection %>
                            <%=s.windStrength %>
                    </p>
                    <p class="card-text mb-3">
                        Comments: <%=s.description %>
                    </p>
                </div>
                <a class="btn btn-primary" href="/sessions/<%= s._id%>">View Session</a>
                <% if (user && s.user.equals(user._id)) {%>
                    <form action="/sessions/<%= s._id %>/edit" method="GET">
                        <button class="btn btn-warning" style="width: 35.8vmin;" type="submit">Edit Session</button>
                    </form>
                    <form action="/sessions/<%= s._id %>?_method=DELETE" method="POST">
                        <button class="btn btn-danger" style="width: 35.8vmin;" type="submit">Delete Session</button>
                    </form>
                    <%}%>
            </div>
            <%}) %>
    </div>
    <%- include('../partials/footer') %>