<%- include('../partials/header') %>

<h2><%= title%></h2>
<h2><%= session.comments %></h2>
<h2><%= session.swellDirection %></h2>
<h2><%= session.date %></h2>
<h2><%= session.size %></h2>
<h2><%= session.rating %></h2>
<img src="<%= session.img %>">
<a href="/spots/<%%>">back to spot<%= spot %></a>
<%- include('../partials/footer') %>