<%- include('../partials/header') %>

<h2><%= title%></h2>
<h2><%= session.swellDirection %></h2>
<h2><%= session.date %></h2>
<h2><%= session.size %></h2>
<h2><%= session.rating %></h2>
<%session.img.forEach(function(i) {%>
    <img src="<%=i%>" alt="">
<%})%>
<img src="<%= session.img %>">

<%- include('../partials/footer') %>