<%- include('../partials/header') %>
<div class="container">
    <h3 class="show-session-title text-center">Session at <%= spot.name %></h3>
    <div class="card m-auto spot-card">
        <div id="carouselExample" class="carousel slide">
            <div class="carousel-inner">
                <%session.img.forEach(function(i, idx) {%>
                    <div class="carousel-item <%= idx === 0 ? 'active' : '' %>">
                        <img class="d-block w-100 card-img-top" src="<%=i%>" alt="">
                    </div>
                    <%})%>
            </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            <div class="card-body">
                <img class="session-avatar" src="<%=author.avatar%>" alt="">
                <h6 class="mt-3 text-muted">Posted By: <%= author.name%></h6>
                <h6 class="card-text">Stars: <%= session.rating %></h6>
                <h6 class="text-muted ">Date: <%= session.formattedDate%></h6>
                <hr>
                <p class="card-text">Swell: <%= session.size %> from the <%= session.swellDirection %></p>
                <hr>
                <p class="card-text">Wind: <%= session.windStrength %> from the <%= session.windDirection %></p>
                <hr>
                <p class="card-text">Comments: <%= session.description%></p>
            </div>
            <% if(user && session.user.equals(user._id)) {%>
                <div class="session-btn-div">
                    <form action="/sessions/<%= session._id %>?_method=DELETE" method="POST">
                        <button class="btn btn-danger delete-btn" type="submit">Delete Session</button>
                    </form>
                </div>
                <%}%>
        </div>
    </div>
</div>

<%- include('../partials/footer') %>