<%- include('../partials/header') %>

<div class="container">
    <h1 class="text-center mt-5 mb-5"><%= title%></h1>
        <% sessions.forEach(function(s) {%>
            <div class="card m-auto p-3 mb-5" style="width: 60vmin">
                <div class="card-body">
                    <h5 class="card-title"><%=s.date%></h5>
                    <p class="card-text">Swell: <%=s.size %> <%=s.swellDirection %></p>
                    <p class="card-text">Wind: <%=s.windDirection %> <%=s.windStrength %></p>
                    <p class="card-text mb-3">Comments: <%=s.description %></p>
                </div>
                <div class="session-btn-div">
                    <a href="/sessions/<%= s._id%>"><button class="btn my-session-btn">View Session</button></a>
                    <form action="/sessions/<%= s._id %>/edit" method="GET">
                        <button class="btn my-session-btn" type="submit">Edit Session</button>
                    </form>
                </div>
            </div>
            <%}) %>
</div>

<%- include('../partials/footer') %> 