<%- include('../partials/header') %>

<div class="container">
    <h1 class="text-center mb-5"><%= title%></h1>
        <% sessions.forEach(function(s) {%>
            <div class="card m-auto p-3 mb-5" style="width: 60vmin">
                <div class="card-body">
                    <h5 class="card-title"><%=s.date%></h5>
                    <p class="card-text">Swell: <%=s.size %> <%=s.swellDirection %></p>
                    <p class="card-text">Wind: <%=s.windDirection %> <%=s.windStrength %></p>
                    <p class="card-text mb-3">Comments: <%=s.description %></p>
                </div>
                <a class="btn btn-primary" href="/sessions/<%= s._id%>">View Session</a>
                    <form action="/sessions/<%= s._id %>/edit" method="GET">
                        <button class="btn btn-warning" style="width: 56vmin;" type="submit">Edit Session</button>
                    </form>
                    <form action="/sessions/<%= s._id %>?_method=DELETE" method="POST">
                        <button class="btn btn-danger" style="width: 56vmin;" type="submit">Delete Session</button>
                    </form>
                </div>
            <%}) %>
</div>

<%- include('../partials/footer') %> 