<%- include('../partials/header') %>

<h3 class="text-center mt-5"><%= title %></h3>

<h2><%=spot.lat %></h2>
<h2><%=spot.long %></h2>
<h2><%=spot.ability %></h2>
<h2><%=spot.description %></h2>

<a href="/spots/<%= spot._id%>/sessions">View Sessions</a>
<a href="/spots/<%= spot._id%>/sessions/new">New Session</a>

<%- include('../partials/footer') %>